@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* .container-cus {
    @apply px-3 lg:max-w-[1750px] md:px-32;
  } */
  .cus-color-transition {
    @apply transition-colors duration-300;
  }
}

@layer utilities {
  .hero-div-bg {
    background: url("../public/svgs/Hero.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .dark .hero-div-bg {
    background: url("../public/svgs/HeroDark.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .aboutme-bg {
    background: url("../public/svgs/AboutMe.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
